html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,white;
    background-color: black;
    font-size: 100%;
    color: white;
}
title{
    background-color: blue;
}
div{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 50%;

}
ul{
    list-style: none;
    font-size: xxx-large;
    
}
body{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 50%;
    margin-right: 0%;

} 
h1{



footer{
    margin-top: ;
}
